body {
    background-color: rgb(255, 250, 250);
}

.aboutmeParagraph {
    text-align: center;
    color: rgb(56, 35, 35);
}

.projectDescription {
    color: rgb(56, 35, 35);
}

.subName {
    text-align: center;
    color: rgb(56, 35, 35);

}

.name {
    text-align: center;
    color: rgb(56, 35, 35);
}

.aboutme {
    text-align: center;
    color: rgb(56, 35, 35);
}

.titleProjects {
    text-align: center;
    color: rgb(56, 35, 35);
}

.Projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(56, 35, 35);
}

.Project {
    width: 250px;
    text-align: center;
    border: 1px solid #535151;
    border-radius: 10px;
}

.Project:hover {
    transform: scale(1.05);
}

.Project img {
    max-width: 100%;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .Projects {
        flex-direction: column;
        align-items: center;
    }
}

.Contacts {
    text-align: center;
    color: rgb(56, 35, 35);
}

.contactsLinks:hover {
    color: rgb(80, 255, 95);

}

.githubLinks:hover {
    color: rgb(80, 255, 95);
}

